<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>A camera sera usada para registrar a foto do treinador com o Pokemon capturado.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>A localizacao sera usada para salvar as coordenadas do momento da captura.</string>
</dict>
</plist>
